<template>
  <div class="container" v-if="this.$store.state.user.displayName">
  <!-- <div class="container"> -->
    <h4>Welcome {{this.$store.state.user.displayName}}! What's happening?</h4>
    <br>
    <form @submit.prevent="validateBeforeSubmit" id="post" method="post">
      <div class="form-group" :class="{'has-error': errors.has('title') }" >
        <label for="title" class="pull-left">Title</label>
        <input name="title" id="title" v-model="title" v-validate="'required'" data-vv-delay="500" type="text" data-vv-as="title" placeholder="Title" class="form-control">
        <p class="text-danger" align="left" v-if="errors.has('title')">{{ errors.first('title') }}</p>
      </div>
      <div class="form-group" :class="{'has-error': errors.has('body') }" >
        <label for="body" class="pull-left">Body</label>
        <textarea name="body" id="body" v-model="body" v-validate="'required'" data-vv-delay="500" type="text" data-vv-as="body" placeholder="Body" class="form-control" rows=5>
        </textarea>
        <p class="text-danger" align="left" v-if="errors.has('body')">{{ errors.first('body') }}</p>
      </div>
      <button class="btn btn-primary" form="post" type="submit">Post</button>
    </form>
    <div class="row" style="padding: 20px !important;">
      <div class="table-responsive">
        <table class="table table-striped table-bordered col-md-10">
            <thead>
            <tr class="danger">
                <td>Title</td>
                <td>Body</td>
            </tr>
            </thead>
            <tbody>
                <tr v-for="post in this.$store.state.posts">                  
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                </tr>
            </tbody>
        </table>
      </div>    
    </div>    
    <hr>
  </div>
  <div class="container" v-else>
    <div >
    <a href="/login"><img src="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/256/thumbs-up.png"/></a> 
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',

  methods: {
    validateBeforeSubmit(e) {
      e.preventDefault()
      this.$validator.validateAll().then((result) => {
        if (result) {
          const newPost = {
            userId: this.$store.state.user._id,
            title: this.title,
            body: this.body
          }
          this.$store.dispatch('addPost', newPost).then(res => {
            if (res.status == 200) {
              this.$store.dispatch('getPosts')              
            }
          }, err => {          
            alert('Posting failed!')
          })         
        }        
      })

      // this.$store.dispatch('getPosts').then(res => {
      //   // this.posts = res;
      //   // console.log("okokoko");
      //   alert("read posting!");
      // }, err =>{
      //   alert('Cannot read posting!')
      // })
    }
  },
  mounted() {
    this.$store.dispatch('getUser')
    this.$store.dispatch('getPosts')
  },
}
// export default {
//   name: 'Home',
//   methods: {
//     validateBeforeSubmit(e) {
//       e.preventDefault()
//       this.$validator.validateAll().then((result) => {
//         if (result) {
//           document.querySelector('#post').submit()
//           // this.$router.push('/')
//           // Do we want to store posts in the VueX store?
//           // this.$store.dispatch('addPost', this.$store.state.posts)
//           return
//         }
//       })
//     }
//   },
//   mounted() {
//     this.$store.dispatch('getUser')
//     this.$store.dispatch('getPosts')
//   },
// }
</script>